[submodule "uxs"]
	path = uxs
	url = ../uxs.git
[submodule "uxs-legacy"]
	path = uxs-legacy
	url = ../uxs-legacy.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "libzip"]
	path = libzip
	url = https://github.com/nih-at/libzip.git
